<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Similarity Search Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" content="Similarity Search Demo">
    <meta name="og:description" content="Visual Recognition uses deep learning algorithms to analyze
      images for scenes, objects, faces, text, and other subjects.">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/css/main.css">
    <%- bluemixAnalytics %>
  </head>
  <body>
    <div id="react-root"><%- react %></div>
    <script src="/js/bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%- ga %>', 'auto');
      ga('send', 'pageview');
      </script>
  </body>
</html>
